{% extends "base.html" %}

{% block content %}
	<h1>Add new application request</h1>
{% if not request.user.groups.all.first|splitrole:"-" == 'read' %}
	{% if form.is_multipart %}
	    <form enctype="multipart/form-data" method="post" action="/foo/">{% csrf_token %}
	{% else %}
		<form method='POST' action=''>{% csrf_token %}
			{{ apprequest }}
			<input type='submit'>
		</form>
	{% endif %}
	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}
{% else %}
	You are not allowed to create new application requests.
{% endif %}
{% endblock %}
